.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px 0;
  display: flex;
  justify-content: start;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__list-item {
  margin-top: 16px;
  /* not sure what you mean by using psuedo-class to reset top margins */
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-divider {
  border-bottom: solid 2px #838383;
  margin: 0 5px;
  flex-grow: 1;
}
