.nav {
  display: flex;
  list-style: none;
}

.nav__logo {
  height: 39px;
  width: 105px;
  justify-content: start;
  margin: 30px auto auto 30px;
}

.nav__links {
  font-weight: 500;
  list-style: none;
  display: flex;
  margin: 30px 80px auto auto;
  gap: 20px;
  padding: 0 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2f80ed !important;
}
