/* font-family: "Noto Serif", "Times New Roman", serif; */
/* font-family: "Inter", Arial, sans-serif; */

.page {
  min-width: 1100px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Noto Serif";
  font-size: 60px;
  line-height: 60px;
}

.recipes {
}
.reservation {
}
.menu {
}
.about {
}
